
<head>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cidades-brasil/dist/cidades-brasil.min.js"></script>

</head>

<body>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="container" align="center">
                <h1>Consulta</h1>
            </div>
            <br /><br />

            <div class="container">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-left">
                                        <h1 class="h4 text-gray-900 mb-4">Consulta de Cliente</h1>
                                    </div>
                                    <form class="user">
                                        <input type="hidden" value="" id="IdPergunta" />
                                        <div class="form-group row">
                                            <div class="col-sm-4 ">
                                                <label for="cpf">CPF</label>
                                                <input type="text" class="form-control" id="cpf" name="cpf" maxlength="14" placeholder="999.999.999-99">
                                            </div>

                                            <div class="col-sm-4 ">
                                                <label>Nome</label>
                                                <input type="text" class="form-control form-control-user" id="nome" name="nome" placeholder="Nome">
                                            </div>

                                            <div class="col-sm-4 ">
                                                <label>Data de Nascimento</label>
                                                <input type="date" class="form-control form-control-user" id="dtnascimento" placeholder="00/00/0000">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 ">
                                                <label>Sexo: </label>
                                                <input type="radio" id="sexo" name="sexo" value="M" onclick="uncheckRadio('F')"> Masculino
                                                <input type="radio" id="sexo" name="sexo" value="F" onclick="uncheckRadio('M')"> Feminino
                                            </div>
                                            <div class="col-sm-3 ">
                                                <div class="d-none "  id="ocultar">
                                                    <label>Endereço</label>
                                                    <input type="text" class="form-control form-control-user" id="endereco" name="endereco" placeholder="Endereço">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 ">
                                                <label>Estado:</label>
                                                <select name="estados" id="estados">
                                                    <option value="">Selecione o Estado</option>
                                                    @foreach (var estado in ViewBag.Estados)
                                                    {
                                                        <option value=@estado.Sigla>@estado.Nome</option>
                                                    }
                                                </select>

                                            </div>
                                            <div class="col-sm-2 ">
                                                <label>Cidade:</label>
                                                <select name="cidades" id="cidades">
                                                    <optgroup label="Selecione o Estado antes">
                                                        <option value="">Selecione a Cidade</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>

                                        <a class="btn btn-primary" onclick="(Pesquisar())">
                                            <i class=""></i> Pesquisar
                                        </a>
                                        <a class="btn btn-primary ; d-none " id="atualizar" onclick="(Atualizar())">
                                            <i class=""></i> Atualizar
                                        </a>

                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-sm-12 ">
                                    <label>Resultado da pesquisa: </label>
                                </div>
                                <table id="tbClientes" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Cliente</th>
                                            <th>CPF</th>
                                            <th>Data Nasc</th>
                                            <th>Estado</th>
                                            <th>Cidade</th>
                                            <th>Sexo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cliente in ViewBag.Clientes)
                                        {
                                            <tr>
                                                <td><button class="btn btn-primary meuBotao" name="@cliente.CPF" value=@cliente.CPF onclick="Editar(@cliente.CPF)">Editar</button></td>
                                                <td><button class="btn btn-primary meuBotao" Name="@cliente.CPF" value=@cliente.CPF onclick="Excluir(@cliente.CPF)">Excluir</button></td>
                                                <td>@cliente.Nome</td>
                                                <td>@cliente.CPF</td>
                                                <td>@cliente.DTNascimento</td>
                                                <td>@cliente.Estado</td>
                                                <td>@cliente.Cidade</td>
                                                <td>@cliente.Sexo</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
                $("input[id*='cpf']").inputmask({
                mask: ['999.999.999-99'],
                keepStatic: true
              });

               function uncheckRadio(radioName) {
                    var radios = document.getElementsByName(radioName);
                    for (var i = 0; i < radios.length; i++) {
                      radios[i].checked = false;
                    }
                  }

                  function Pesquisar(){
                      var cliente = {
                        CPF: removerMascaraCPF($("#cpf")[0].value),
                        Nome: $("#nome")[0].value,
                        DTNascimento: $("#dtnascimento")[0].value,
                        Sexo: $("#sexo")[0].value,
                        Endereco: $("#endereco")[0].value,
                        Estado: $("#estados")[0].value,
                        Cidade: $("#cidades")[0].value,
                         }
                          $.ajax({
                      type: 'POST',
                      url: '/Cliente/GetCliente',
                      data: { cliente },
                      async: false,
                      success: function (cliente) {
                          $("#tbClientes tbody").empty();
                          cliente.forEach(function(cliente) {
                            var novaLinha = $("<tr>");

                            var botao = $("<button>").text("Editar");
                            botao.addClass("btn btn-primary meuBotao");
                            var novaCelula = $("<td>").append(botao);
                            novaLinha.append(novaCelula);
                            botao.on("click", function() {
                                Editar(cliente.cpf);
                            });

                            var botao2 = $("<button>").text("Excluir");
                            botao.addClass("btn btn-primary meuBotao");
                            var novaCelula2 = $("<td>").append(botao2);
                            novaLinha.append(novaCelula2);
                            botao.on("click",function() { 
                                Excluir(cliente.cpf);
                            });

                            novaLinha.append($("<td>").text(cliente.nome));
                            novaLinha.append($("<td>").text(cliente.cpf));
                            novaLinha.append($("<td>").text(cliente.dtNascimento));
                            novaLinha.append($("<td>").text(cliente.estado));
                            novaLinha.append($("<td>").text(cliente.cidade));
                            novaLinha.append($("<td>").text(cliente.sexo));
                            $("#tbClientes tbody").append(novaLinha);
                       });
                         // window.location.href = "/Cliente/Consultar";
                      },
                      error: function () {
                          alert("Houve um erro ao pesquisar os dados!");
                         // window.location.href = "/Cliente/Consultar";
                      }
                  });
                  }

                  function removerMascaraCPF(cpf) {
                    return cpf.replace(/[^\d]/g, "");
                     }
                     var botoes = document.querySelectorAll(".meuBotao");

                  function Excluir(id){
                      alert("Vamos ver");
                      var cli = {
                          CPF: id,
                          Nome:"",
                          DTNascimento: "",
                          Sexo: "",
                          Endereco: "",
                          Estado: "",
                          Cidade: "",
                      }
                       $.ajax({
                              type: 'POST',
                              url: '/Cliente/Excluir',
                              data: { cli },
                              async: false,
                              success: function (data) {
                                  alert("Dados Excluidos com sucesso!");
                                  window.location.href = "/Cliente/Consultar";
                              },
                              error: function (jqXHR, textStatus, errorThrown) {
                                  console.log(textStatus, errorThrown);
                                  alert("Houve um erro ao excluir os dados!");
                              }
                          });
                  }


                  function Atualizar(){
                       var cliente = {
                  CPF: removerMascaraCPF($("#cpf")[0].value),
                  Nome: $("#nome")[0].value,
                  DTNascimento: $("#dtnascimento")[0].value,
                  Sexo: $("#sexo")[0].value,
                  Endereco: $("#endereco")[0].value,
                  Estado: $("#estados")[0].value,
                  Cidade: $("#cidades")[0].value,
              }
              if (cliente.CPF == "" || cliente.Nome == "" || cliente.DTNascimento == "" || cliente.Sexo == "" || cliente.Endereco == "" || cliente.Estado == "" || cliente.Cidade == "" ) {
                  alert("Todos os campos devem ser preenchidos.");
              } else {
                  $.ajax({
                      type: 'POST',
                      url: '/Cliente/AtualizarCliente',
                      data: { cliente },
                      async: false,
                      success: function (data) {
                          alert("Dados Atualizados com sucesso!")
                          window.location.href = "/Cliente/Consultar";
                      },
                      error: function () {
                          alert("Houve um erro ao salvar os dados!");
                          window.location.href = "/Cliente/Consultar";
                      }
                  });
              }
                  }


                  function Editar(id){
                      toggleCampo()
                      var cliente = {
                          CPF: id,
                          Nome:"",
                          DTNascimento: "",
                          Sexo: "",
                          Endereco: "",
                          Estado: "",
                          Cidade: "",
                      }
                      $.ajax({
                    url: '/Cliente/GetCliente',
                    data: {cliente},
                    type: "POST",
                    async: false,
                    success: function(cliente) {
                        cliente.forEach(function(cliente) {
                        $("#cpf").val(cliente.cpf);
                        $("#nome").val(cliente.nome) ;
                        $("#dtnascimento").val(cliente.dtNascimento);

                        var radios = document.getElementsByName("sexo");
                        if(cliente.sexo == "M"){
                             radios[0].checked = true;
                        }
                        else{
                             radios[1].checked = true;
                        }
                           

                        $("#endereco").val(cliente.endereco);
                        $("#estados").val(cliente.estado);
                        
                        cidadesSelect.innerHTML = '';
                        const option = document.createElement('option');
                        option.value = cliente.cidade;
                        option.textContent = cliente.cidade;
                        cidadesSelect.appendChild(option);
                      });
                  },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
                  }
                  function toggleCampo() {
                    var campo = document.getElementById("ocultar");
                        campo.classList.toggle("d-none");
                    var campo = document.getElementById("atualizar");
                        campo.classList.toggle("d-none");
                    var campo = document.getElementById("tbClientes");
                        campo.classList.toggle("d-none");
                   }
            const estadosSelect = document.getElementById('estados');
            const cidadesSelect = document.getElementById('cidades');

            estadosSelect.addEventListener('change', function() {
              cidadesSelect.innerHTML = '';
              const estadoSelecionado = estadosSelect.value;
              var url = `https://servicodados.ibge.gov.br/api/v1/localidades/estados/${estadoSelecionado}/municipios`;

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function(cidades) {
                        cidades.forEach(function(cidade) {
                        const option = document.createElement('option');
                        option.value = cidade.nome;
                        option.textContent = cidade.nome;
                        cidadesSelect.appendChild(option);
                      });
                  },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });

              cidades.forEach(function(cidade) {
                const option = document.createElement('option');
                option.value = cidade;
                option.textContent = cidade;
                cidadesSelect.appendChild(option);
              });
            });
</script>